## 1. Data

Lending Club 2016年Q3数据：https://www.lendingclub.com/info/download-data.action

参考：http://kldavenport.com/lending-club-data-analysis-revisted-with-python/

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("./LoanStats_2016Q3.csv",skiprows=1,low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99122 entries, 0 to 99121
Columns: 122 entries, id to sec_app_mths_since_last_major_derog
dtypes: float64(97), object(25)
memory usage: 92.3+ MB

In [4]:
df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,15000.0,15000.0,15000.0,36 months,13.99%,512.60,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2600.0,2600.0,2600.0,36 months,8.99%,82.67,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,32200.0,32200.0,32200.0,60 months,21.49%,880.02,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Keep what we need

In [5]:
# .ix[row slice, column slice] 
df.ix[:3,:7]

d:\python\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate
0,NaN,NaN,15000.0,15000.0,15000.0,36 months,13.99%
1,NaN,NaN,2600.0,2600.0,2600.0,36 months,8.99%
2,NaN,NaN,32200.0,32200.0,32200.0,60 months,21.49%
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,11.49%

In [6]:
#去掉id,member_id不相关的特征
df.drop('id',1,inplace=True)
df.drop('member_id',1,inplace=True)

In [7]:
df.ix[:3,:10]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length
0,15000.0,15000.0,15000.0,36 months,13.99%,512.60,C,C3,Fiscal Director,2 years
1,2600.0,2600.0,2600.0,36 months,8.99%,82.67,B,B1,Loaner Coordinator,3 years
2,32200.0,32200.0,32200.0,60 months,21.49%,880.02,D,D5,warehouse/supervisor,10+ years
3,10000.0,10000.0,10000.0,36 months,11.49%,329.72,B,B5,Teacher,10+ years

In [8]:
#将%去掉
df.int_rate = pd.Series(df.int_rate).str.replace('%', '').astype(float)

In [9]:
df.ix[:3,:7]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade
0,15000.0,15000.0,15000.0,36 months,13.99,512.60,C
1,2600.0,2600.0,2600.0,36 months,8.99,82.67,B
2,32200.0,32200.0,32200.0,60 months,21.49,880.02,D
3,10000.0,10000.0,10000.0,36 months,11.49,329.72,B

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99122 entries, 0 to 99121
Columns: 120 entries, loan_amnt to sec_app_mths_since_last_major_derog
dtypes: float64(97), object(23)
memory usage: 90.7+ MB

### Loan Amount Requested Verus the Funded Amount

In [11]:
print((df.loan_amnt != df.funded_amnt).value_counts())

False    99120
True         2
dtype: int64

In [16]:
df.query('loan_amnt != funded_amnt').head(5)

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, ...]
Index: []

[0 rows x 120 columns]

In [17]:
#缺失数据在pandas中用NaN标记.;'all’指清除全是缺失值的行
df.dropna(axis=0, how='all',inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99120 entries, 0 to 99119
Columns: 120 entries, loan_amnt to sec_app_mths_since_last_major_derog
dtypes: float64(97), object(23)
memory usage: 91.5+ MB

In [19]:
df.dropna(axis=1, how='all',inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99120 entries, 0 to 99119
Columns: 108 entries, loan_amnt to total_il_high_credit_limit
dtypes: float64(85), object(23)
memory usage: 82.4+ MB

In [162]:
df.ix[:5,8:15]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status
0,Fiscal Director,2 years,RENT,55000.0,Not Verified,Sep-2016,Current
1,Loaner Coordinator,3 years,RENT,35000.0,Source Verified,Sep-2016,Fully Paid
2,warehouse/supervisor,10+ years,MORTGAGE,65000.0,Not Verified,Sep-2016,Fully Paid
3,Teacher,10+ years,OWN,55900.0,Not Verified,Sep-2016,Current
4,SERVICE MGR,5 years,RENT,33000.0,Not Verified,Sep-2016,Current
5,General Manager,10+ years,MORTGAGE,109000.0,Source Verified,Sep-2016,Current

### emp_title: employment title

In [21]:
print(df.emp_title.value_counts().head())
print(df.emp_title.value_counts().tail())
df.emp_title.unique().shape

Teacher       1931
Manager       1701
Owner          990
Supervisor     785
Driver         756
Name: emp_title, dtype: int64
Unit Ider                              1
SERVICE TECH.                          1
Medi-Cal Administrative Coordinator    1
HR-Manager                             1
Journeyman ship fitter                 1
Name: emp_title, dtype: int64

(37421,)

In [22]:
df.drop(['emp_title'],1, inplace=True)

In [23]:
df.ix[:5,8:15]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan
0,2 years,RENT,55000.0,Not Verified,Sep-2016,Current,n
1,3 years,RENT,35000.0,Source Verified,Sep-2016,Fully Paid,n
2,10+ years,MORTGAGE,65000.0,Not Verified,Sep-2016,Fully Paid,n
3,10+ years,OWN,55900.0,Not Verified,Sep-2016,Current,n
4,5 years,RENT,33000.0,Not Verified,Sep-2016,Current,n
5,10+ years,MORTGAGE,109000.0,Source Verified,Sep-2016,Current,n

### emp_length: employment length

In [24]:
df.emp_length.value_counts()

10+ years    34219
2 years       9066
3 years       7925
< 1 year      7104
1 year        6991
5 years       6170
4 years       6022
6 years       4406
8 years       4168
9 years       3922
7 years       3205
Name: emp_length, dtype: int64

In [25]:
df.replace('n/a', np.nan,inplace=True)
df.emp_length.fillna(value=0,inplace=True)
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['emp_length'] = df['emp_length'].astype(int)

In [26]:
df.ix[:5,8:15]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan
0,2,RENT,55000.0,Not Verified,Sep-2016,Current,n
1,3,RENT,35000.0,Source Verified,Sep-2016,Fully Paid,n
2,10,MORTGAGE,65000.0,Not Verified,Sep-2016,Fully Paid,n
3,10,OWN,55900.0,Not Verified,Sep-2016,Current,n
4,5,RENT,33000.0,Not Verified,Sep-2016,Current,n
5,10,MORTGAGE,109000.0,Source Verified,Sep-2016,Current,n

In [27]:
df.emp_length.value_counts()

10    34219
1     14095
2      9066
3      7925
5      6170
4      6022
0      5922
6      4406
8      4168
9      3922
7      3205
Name: emp_length, dtype: int64

### verification status:"Indicates if income was verified by LC, not verified, or if the income source was verified"

In [28]:
#verification_status这一列的信息
df.verification_status.value_counts()

Source Verified    40781
Verified           31356
Not Verified       26983
Name: verification_status, dtype: int64

### Target: Loan Statuses

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99120 entries, 0 to 99119
Columns: 107 entries, loan_amnt to total_il_high_credit_limit
dtypes: float64(85), int32(1), object(21)
memory usage: 83.8+ MB

In [30]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=107)

In [31]:
pd.unique(df['loan_status'].values.ravel())

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'Charged Off',
       'Late (16-30 days)', 'In Grace Period', 'Default'], dtype=object)

In [32]:
for col in df.select_dtypes(include=['object']).columns:
    print("Column {} has {} unique instances".format( col, len(df[col].unique())))

Column term has 2 unique instances
Column grade has 7 unique instances
Column sub_grade has 35 unique instances
Column home_ownership has 4 unique instances
Column verification_status has 3 unique instances
Column issue_d has 3 unique instances
Column loan_status has 7 unique instances
Column pymnt_plan has 2 unique instances
Column desc has 6 unique instances
Column purpose has 13 unique instances
Column title has 13 unique instances
Column zip_code has 873 unique instances
Column addr_state has 50 unique instances
Column earliest_cr_line has 614 unique instances
Column revol_util has 1087 unique instances
Column initial_list_status has 2 unique instances
Column last_pymnt_d has 13 unique instances
Column next_pymnt_d has 4 unique instances
Column last_credit_pull_d has 14 unique instances
Column application_type has 3 unique instances
Column verification_status_joint has 2 unique instances

In [33]:
# 处理对象类型的缺失，unique
df.select_dtypes(include=['O']).describe().T.\
assign(missing_pct=df.apply(lambda x : (len(x)-x.count())/float(len(x))))

,count,unique,top,freq,missing_pct
term,99120,2,36 months,73898,0.000000
grade,99120,7,C,32846,0.000000
sub_grade,99120,35,B5,8322,0.000000
home_ownership,99120,4,MORTGAGE,46761,0.000000
verification_status,99120,3,Source Verified,40781,0.000000
issue_d,99120,3,Aug-2016,36280,0.000000
loan_status,99120,7,Current,79445,0.000000
pymnt_plan,99120,2,n,99074,0.000000
desc,6,5,,2,0.999939
purpose,99120,13,debt_consolidation,57682,0.000000
title,93693,12,Debt consolidation,53999,0.054752
zip_code,99120,873,112xx,1125,0.000000
addr_state,99120,50,CA,13352,0.000000
earliest_cr_line,99120,614,Aug-2003,796,0.000000
revol_util,99060,1086,0%,440,0.000605
initial_list_status,99120,2,w,71869,0.000000
last_pymnt_d,98991,12,Jun-2017,81082,0.001301
next_pymnt_d,83552,3,Jul-2017,83527,0.157062
last_credit_pull_d,99115,13,Jun-2017,89280,0.000050
application_type,99120,3,INDIVIDUAL,98565,0.000000
verification_status_joint,517,1,Not Verified,517,0.994784

In [34]:
df.revol_util = pd.Series(df.revol_util).str.replace('%', '').astype(float)

In [35]:
# missing_pct
df.drop('desc',1,inplace=True)
df.drop('verification_status_joint',1,inplace=True)

In [36]:
df.drop('zip_code',1,inplace=True)
df.drop('addr_state',1,inplace=True)
df.drop('earliest_cr_line',1,inplace=True)
df.drop('revol_util',1,inplace=True)
df.drop('purpose',1,inplace=True)
df.drop('title',1,inplace=True)
df.drop('term',1,inplace=True)
df.drop('issue_d',1,inplace=True)
# df.drop('',1,inplace=True)
# 贷后相关的字段
df.drop(['out_prncp','out_prncp_inv','total_pymnt',
         'total_pymnt_inv','total_rec_prncp', 'grade', 'sub_grade'] ,1, inplace=True)
df.drop(['total_rec_int','total_rec_late_fee',
         'recoveries','collection_recovery_fee',
         'collection_recovery_fee' ],1, inplace=True)
df.drop(['last_pymnt_d','last_pymnt_amnt',
         'next_pymnt_d','last_credit_pull_d'],1, inplace=True)
df.drop(['policy_code'],1, inplace=True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99120 entries, 0 to 99119
Data columns (total 81 columns):
loan_amnt                         99120 non-null float64
funded_amnt                       99120 non-null float64
funded_amnt_inv                   99120 non-null float64
int_rate                          99120 non-null float64
installment                       99120 non-null float64
emp_length                        99120 non-null int32
home_ownership                    99120 non-null object
annual_inc                        99120 non-null float64
verification_status               99120 non-null object
loan_status                       99120 non-null object
pymnt_plan                        99120 non-null object
dti                               99120 non-null float64
delinq_2yrs                       99120 non-null float64
inq_last_6mths                    99120 non-null float64
mths_since_last_delinq            53366 non-null float64
mths_since_last_record            19792 non-null float64
open_acc                          99120 non-null float64
pub_rec                           99120 non-null float64
revol_bal                         99120 non-null float64
total_acc                         99120 non-null float64
initial_list_status               99120 non-null object
collections_12_mths_ex_med        99120 non-null float64
mths_since_last_major_derog       29372 non-null float64
application_type                  99120 non-null object
annual_inc_joint                  517 non-null float64
dti_joint                         517 non-null float64
acc_now_delinq                    99120 non-null float64
tot_coll_amt                      99120 non-null float64
tot_cur_bal                       99120 non-null float64
open_acc_6m                       99120 non-null float64
open_il_6m                        99120 non-null float64
open_il_12m                       99120 non-null float64
open_il_24m                       99120 non-null float64
mths_since_rcnt_il                96469 non-null float64
total_bal_il                      99120 non-null float64
il_util                           85480 non-null float64
open_rv_12m                       99120 non-null float64
open_rv_24m                       99120 non-null float64
max_bal_bc                        99120 non-null float64
all_util                          99114 non-null float64
total_rev_hi_lim                  99120 non-null float64
inq_fi                            99120 non-null float64
total_cu_tl                       99120 non-null float64
inq_last_12m                      99120 non-null float64
acc_open_past_24mths              99120 non-null float64
avg_cur_bal                       99120 non-null float64
bc_open_to_buy                    98010 non-null float64
bc_util                           97971 non-null float64
chargeoff_within_12_mths          99120 non-null float64
delinq_amnt                       99120 non-null float64
mo_sin_old_il_acct                96469 non-null float64
mo_sin_old_rev_tl_op              99120 non-null float64
mo_sin_rcnt_rev_tl_op             99120 non-null float64
mo_sin_rcnt_tl                    99120 non-null float64
mort_acc                          99120 non-null float64
mths_since_recent_bc              98067 non-null float64
mths_since_recent_bc_dlq          26018 non-null float64
mths_since_recent_inq             89254 non-null float64
mths_since_recent_revol_delinq    36606 non-null float64
num_accts_ever_120_pd             99120 non-null float64
num_actv_bc_tl                    99120 non-null float64
num_actv_rev_tl                   99120 non-null float64
num_bc_sats                       99120 non-null float64
num_bc_tl                         99120 non-null float64
num_il_tl                         99120 non-null float64
num_op_rev_tl                     99120 non-null float64
num_rev_accts                     99120 non-null float64
num_rev_tl_bal_gt_0               99120 non-null float64
num_sats                          99120 non-null float64
num_tl_120dpd_2m                  95661 non-null float64
num_tl_30dpd                      99120 non-null float64
num_tl_90g_dpd_24m                99120 non-null float64
num_tl_op_past_12m                99120 non-null float64
pct_tl_nvr_dlq                    99120 non-null float64
percent_bc_gt_75                  98006 non-null float64
pub_rec_bankruptcies              99120 non-null float64
tax_liens                         99120 non-null float64
tot_hi_cred_lim                   99120 non-null float64
total_bal_ex_mort                 99120 non-null float64
total_bc_limit                    99120 non-null float64
total_il_high_credit_limit        99120 non-null float64
dtypes: float64(74), int32(1), object(6)
memory usage: 64.1+ MB

In [38]:
df.ix[:5,:10]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status
0,15000.0,15000.0,15000.0,13.99,512.60,2,RENT,55000.0,Not Verified,Current
1,2600.0,2600.0,2600.0,8.99,82.67,3,RENT,35000.0,Source Verified,Fully Paid
2,32200.0,32200.0,32200.0,21.49,880.02,10,MORTGAGE,65000.0,Not Verified,Fully Paid
3,10000.0,10000.0,10000.0,11.49,329.72,10,OWN,55900.0,Not Verified,Current
4,6000.0,6000.0,6000.0,13.49,203.59,5,RENT,33000.0,Not Verified,Current
5,30000.0,30000.0,30000.0,13.99,697.90,10,MORTGAGE,109000.0,Source Verified,Current

In [39]:
df.ix[:5,10:21]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,initial_list_status
0,n,23.78,1.0,0.0,7.0,NaN,22.0,0.0,21345.0,43.0,f
1,n,6.73,0.0,0.0,NaN,NaN,14.0,0.0,720.0,24.0,w
2,n,11.71,0.0,1.0,NaN,87.0,17.0,1.0,11987.0,34.0,w
3,n,26.21,0.0,2.0,NaN,NaN,15.0,0.0,17209.0,62.0,w
4,n,19.05,0.0,0.0,NaN,NaN,3.0,0.0,4576.0,11.0,f
5,n,16.24,0.0,0.0,NaN,NaN,17.0,0.0,11337.0,39.0,w

In [40]:
print(df.columns)
print(df.head(1).values)
df.info()

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'loan_status', 'pymnt_plan', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'total_acc', 'initial_list_status', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'application_type', 'annual_inc_joint',
       'dti_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
       'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')
[[15000.0 15000.0 15000.0 13.99 512.6 2 'RENT' 55000.0 'Not Verified'
  'Current' 'n' 23.78 1.0 0.0 7.0 nan 22.0 0.0 21345.0 43.0 'f' 0.0 nan
  'INDIVIDUAL' nan nan 0.0 0.0 140492.0 3.0 10.0 2.0 3.0 11.0 119147.0
  101.0 3.0 4.0 14612.0 83.0 39000.0 1.0 6.0 0.0 7.0 6386.0 9645.0 73.1
  0.0 0.0 157.0 248.0 4.0 4.0 0.0 4.0 7.0 22.0 7.0 0.0 5.0 9.0 6.0 7.0
  25.0 11.0 18.0 9.0 22.0 0.0 0.0 0.0 5.0 100.0 33.3 0.0 0.0 147587.0
  140492.0 30200.0 108587.0]]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 99120 entries, 0 to 99119
Data columns (total 81 columns):
loan_amnt                         99120 non-null float64
funded_amnt                       99120 non-null float64
funded_amnt_inv                   99120 non-null float64
int_rate                          99120 non-null float64
installment                       99120 non-null float64
emp_length                        99120 non-null int32
home_ownership                    99120 non-null object
annual_inc                        99120 non-null float64
verification_status               99120 non-null object
loan_status                       99120 non-null object
pymnt_plan                        99120 non-null object
dti                               99120 non-null float64
delinq_2yrs                       99120 non-null float64
inq_last_6mths                    99120 non-null float64
mths_since_last_delinq            53366 non-null float64
mths_since_last_record            19792 non-null float64
open_acc                          99120 non-null float64
pub_rec                           99120 non-null float64
revol_bal                         99120 non-null float64
total_acc                         99120 non-null float64
initial_list_status               99120 non-null object
collections_12_mths_ex_med        99120 non-null float64
mths_since_last_major_derog       29372 non-null float64
application_type                  99120 non-null object
annual_inc_joint                  517 non-null float64
dti_joint                         517 non-null float64
acc_now_delinq                    99120 non-null float64
tot_coll_amt                      99120 non-null float64
tot_cur_bal                       99120 non-null float64
open_acc_6m                       99120 non-null float64
open_il_6m                        99120 non-null float64
open_il_12m                       99120 non-null float64
open_il_24m                       99120 non-null float64
mths_since_rcnt_il                96469 non-null float64
total_bal_il                      99120 non-null float64
il_util                           85480 non-null float64
open_rv_12m                       99120 non-null float64
open_rv_24m                       99120 non-null float64
max_bal_bc                        99120 non-null float64
all_util                          99114 non-null float64
total_rev_hi_lim                  99120 non-null float64
inq_fi                            99120 non-null float64
total_cu_tl                       99120 non-null float64
inq_last_12m                      99120 non-null float64
acc_open_past_24mths              99120 non-null float64
avg_cur_bal                       99120 non-null float64
bc_open_to_buy                    98010 non-null float64
bc_util                           97971 non-null float64
chargeoff_within_12_mths          99120 non-null float64
delinq_amnt                       99120 non-null float64
mo_sin_old_il_acct                96469 non-null float64
mo_sin_old_rev_tl_op              99120 non-null float64
mo_sin_rcnt_rev_tl_op             99120 non-null float64
mo_sin_rcnt_tl                    99120 non-null float64
mort_acc                          99120 non-null float64
mths_since_recent_bc              98067 non-null float64
mths_since_recent_bc_dlq          26018 non-null float64
mths_since_recent_inq             89254 non-null float64
mths_since_recent_revol_delinq    36606 non-null float64
num_accts_ever_120_pd             99120 non-null float64
num_actv_bc_tl                    99120 non-null float64
num_actv_rev_tl                   99120 non-null float64
num_bc_sats                       99120 non-null float64
num_bc_tl                         99120 non-null float64
num_il_tl                         99120 non-null float64
num_op_rev_tl                     99120 non-null float64
num_rev_accts                     99120 non-null float64
num_rev_tl_bal_gt_0               99120 non-null float64
num_sats                          99120 non-null float64
num_tl_120dpd_2m                  95661 non-null float64
num_tl_30dpd                      99120 non-null float64
num_tl_90g_dpd_24m                99120 non-null float64
num_tl_op_past_12m                99120 non-null float64
pct_tl_nvr_dlq                    99120 non-null float64
percent_bc_gt_75                  98006 non-null float64
pub_rec_bankruptcies              99120 non-null float64
tax_liens                         99120 non-null float64
tot_hi_cred_lim                   99120 non-null float64
total_bal_ex_mort                 99120 non-null float64
total_bc_limit                    99120 non-null float64
total_il_high_credit_limit        99120 non-null float64
dtypes: float64(74), int32(1), object(6)
memory usage: 64.1+ MB

In [41]:
df.select_dtypes(include=['float']).describe().T.\
assign(missing_pct=df.apply(lambda x : (len(x)-x.count())/float(len(x))))

,count,mean,std,min,25%,50%,75%,max,missing_pct
loan_amnt,99120.0,14170.570521,8886.138758,1000.00,7200.00,12000.00,20000.00,40000.00,0.000000
funded_amnt,99120.0,14170.570521,8886.138758,1000.00,7200.00,12000.00,20000.00,40000.00,0.000000
funded_amnt_inv,99120.0,14166.087823,8883.301328,1000.00,7200.00,12000.00,20000.00,40000.00,0.000000
int_rate,99120.0,13.723641,4.873910,5.32,10.49,12.79,15.59,30.99,0.000000
installment,99120.0,432.718654,272.678596,30.12,235.24,361.38,569.83,1535.71,0.000000
annual_inc,99120.0,78488.850081,72694.186060,0.00,48000.00,65448.00,94000.00,8400000.00,0.000000
dti,99120.0,18.348651,64.057603,0.00,11.91,17.60,23.90,9999.00,0.000000
delinq_2yrs,99120.0,0.381901,0.988996,0.00,0.00,0.00,0.00,21.00,0.000000
inq_last_6mths,99120.0,0.570521,0.863796,0.00,0.00,0.00,1.00,5.00,0.000000
mths_since_last_delinq,53366.0,33.229172,21.820407,0.00,15.00,30.00,48.00,142.00,0.461602
mths_since_last_record,19792.0,67.267886,24.379343,0.00,52.00,70.00,84.00,119.00,0.800323
open_acc,99120.0,11.718251,5.730585,1.00,8.00,11.00,15.00,86.00,0.000000
pub_rec,99120.0,0.266596,0.719193,0.00,0.00,0.00,0.00,61.00,0.000000
revol_bal,99120.0,15536.628047,21537.790599,0.00,5657.00,10494.00,18501.50,876178.00,0.000000
total_acc,99120.0,24.033545,11.929761,2.00,15.00,22.00,31.00,119.00,0.000000
collections_12_mths_ex_med,99120.0,0.021640,0.168331,0.00,0.00,0.00,0.00,10.00,0.000000
mths_since_last_major_derog,29372.0,44.449612,22.254529,0.00,27.00,44.00,63.00,165.00,0.703672
annual_inc_joint,517.0,118120.418472,51131.323819,26943.12,81500.00,110000.00,142800.00,400000.00,0.994784
dti_joint,517.0,18.637621,6.602016,2.56,14.15,18.44,23.22,48.58,0.994784
acc_now_delinq,99120.0,0.006709,0.086902,0.00,0.00,0.00,0.00,4.00,0.000000
tot_coll_amt,99120.0,281.797639,1840.699443,0.00,0.00,0.00,0.00,172575.00,0.000000
tot_cur_bal,99120.0,138845.606144,156736.843591,0.00,28689.00,76447.50,207194.75,3764968.00,0.000000
open_acc_6m,99120.0,0.978743,1.176973,0.00,0.00,1.00,2.00,13.00,0.000000
open_il_6m,99120.0,2.825888,3.109225,0.00,1.00,2.00,3.00,43.00,0.000000
open_il_12m,99120.0,0.723467,0.973888,0.00,0.00,0.00,1.00,13.00,0.000000
open_il_24m,99120.0,1.624818,1.656628,0.00,0.00,1.00,2.00,26.00,0.000000
mths_since_rcnt_il,96469.0,21.362531,26.563455,0.00,7.00,13.00,24.00,503.00,0.026745
total_bal_il,99120.0,35045.324193,41981.617996,0.00,9179.00,23199.00,45672.00,1547285.00,0.000000
il_util,85480.0,71.599158,23.306731,0.00,58.00,75.00,88.00,1000.00,0.137611
open_rv_12m,99120.0,1.408142,1.570068,0.00,0.00,1.00,2.00,24.00,0.000000
...,...,...,...,...,...,...,...,...,...
mo_sin_old_rev_tl_op,99120.0,177.634322,95.327498,3.00,115.00,160.00,227.00,901.00,0.000000
mo_sin_rcnt_rev_tl_op,99120.0,13.145369,16.695022,0.00,3.00,8.00,16.00,274.00,0.000000
mo_sin_rcnt_tl,99120.0,7.833232,8.649843,0.00,3.00,5.00,10.00,268.00,0.000000
mort_acc,99120.0,1.467585,1.799513,0.00,0.00,1.00,2.00,45.00,0.000000
mths_since_recent_bc,98067.0,23.623512,31.750632,0.00,6.00,13.00,28.00,546.00,0.010623
mths_since_recent_bc_dlq,26018.0,38.095280,22.798229,0.00,19.00,35.00,55.00,162.00,0.737510
mths_since_recent_inq,89254.0,6.626504,5.967648,0.00,2.00,5.00,10.00,25.00,0.099536
mths_since_recent_revol_delinq,36606.0,34.393132,22.371813,0.00,16.00,31.00,48.00,165.00,0.630690
num_accts_ever_120_pd,99120.0,0.594703,1.508027,0.00,0.00,0.00,1.00,36.00,0.000000
num_actv_bc_tl,99120.0,3.628218,2.302668,0.00,2.00,3.00,5.00,47.00,0.000000
num_actv_rev_tl,99120.0,5.625272,3.400185,0.00,3.00,5.00,7.00,59.00,0.000000
num_bc_sats,99120.0,4.645581,3.013399,0.00,3.00,4.00,6.00,61.00,0.000000
num_bc_tl,99120.0,7.416041,4.546112,0.00,4.00,7.00,10.00,67.00,0.000000
num_il_tl,99120.0,8.597437,7.528533,0.00,4.00,7.00,11.00,107.00,0.000000
num_op_rev_tl,99120.0,8.198820,4.710348,0.00,5.00,7.00,10.00,79.00,0.000000
num_rev_accts,99120.0,13.726312,7.963791,2.00,8.00,12.00,18.00,104.00,0.000000
num_rev_tl_bal_gt_0,99120.0,5.566293,3.286135,0.00,3.00,5.00,7.00,59.00,0.000000
num_sats,99120.0,11.673497,5.709513,1.00,8.00,11.00,14.00,85.00,0.000000
num_tl_120dpd_2m,95661.0,0.001108,0.035695,0.00,0.00,0.00,0.00,4.00,0.034897
num_tl_30dpd,99120.0,0.004348,0.068650,0.00,0.00,0.00,0.00,3.00,0.000000
num_tl_90g_dpd_24m,99120.0,0.101332,0.567112,0.00,0.00,0.00,0.00,20.00,0.000000
num_tl_op_past_12m,99120.0,2.254752,1.960084,0.00,1.00,2.00,3.00,24.00,0.000000
pct_tl_nvr_dlq,99120.0,93.262828,9.696646,0.00,90.00,96.90,100.00,100.00,0.000000
percent_bc_gt_75,98006.0,42.681332,36.296425,0.00,0.00,37.50,71.40,100.00,0.011239
pub_rec_bankruptcies,99120.0,0.150262,0.407706,0.00,0.00,0.00,0.00,8.00,0.000000
tax_liens,99120.0,0.075393,0.517275,0.00,0.00,0.00,0.00,61.00,0.000000
tot_hi_cred_lim,99120.0,172185.283394,175273.669652,2500.00,49130.75,108020.50,248473.25,3953111.00,0.000000
total_bal_ex_mort,99120.0,50818.694078,48976.640478,0.00,20913.00,37747.50,64216.25,1548128.00,0.000000
total_bc_limit,99120.0,20862.228420,20721.900664,0.00,7700.00,14700.00,27000.00,520500.00,0.000000
total_il_high_credit_limit,99120.0,44066.340375,44473.458730,0.00,15750.00,33183.00,58963.25,2000000.00,0.000000

In [42]:
df.drop('annual_inc_joint',1,inplace=True)
df.drop('dti_joint',1,inplace=True)

In [43]:
df.select_dtypes(include=['int']).describe().T.\
assign(missing_pct=df.apply(lambda x : (len(x)-x.count())/float(len(x))))

,count,mean,std,min,25%,50%,75%,max,missing_pct
emp_length,99120.0,5.757092,3.770359,0.0,2.0,6.0,10.0,10.0,0.0

### Target: Loan Statuses

In [44]:
df['loan_status'].value_counts()
# .plot(kind='bar')

Current               79445
Fully Paid            13066
Charged Off            2502
Late (31-120 days)     2245
In Grace Period        1407
Late (16-30 days)       454
Default                   1
Name: loan_status, dtype: int64

In [45]:
df.loan_status.replace('Fully Paid', int(1),inplace=True)
df.loan_status.replace('Current', int(1),inplace=True)
df.loan_status.replace('Late (16-30 days)', int(0),inplace=True)
df.loan_status.replace('Late (31-120 days)', int(0),inplace=True)
df.loan_status.replace('Charged Off', np.nan,inplace=True)
df.loan_status.replace('In Grace Period', np.nan,inplace=True)
df.loan_status.replace('Default', np.nan,inplace=True)
# df.loan_status.astype('int')
df.loan_status.value_counts()

1.0    92511
0.0     2699
Name: loan_status, dtype: int64

In [46]:
# df.loan_status
df.dropna(subset=['loan_status'],inplace=True)

### Highly Correlated Data

In [47]:
cor = df.corr()
cor.loc[:,:] = np.tril(cor, k=-1) # below main lower triangle of an array
cor = cor.stack()
cor[(cor > 0.55) | (cor < -0.55)]

funded_amnt                     loan_amnt                      1.000000
funded_amnt_inv                 loan_amnt                      0.999994
                                funded_amnt                    0.999994
installment                     loan_amnt                      0.953380
                                funded_amnt                    0.953380
                                funded_amnt_inv                0.953293
mths_since_last_delinq          delinq_2yrs                   -0.551275
total_acc                       open_acc                       0.722950
mths_since_last_major_derog     mths_since_last_delinq         0.685642
open_il_24m                     open_il_12m                    0.760219
total_bal_il                    open_il_6m                     0.566551
open_rv_12m                     open_acc_6m                    0.623975
open_rv_24m                     open_rv_12m                    0.774954
max_bal_bc                      revol_bal                      0.551409
all_util                        il_util                        0.594925
total_rev_hi_lim                revol_bal                      0.815351
inq_last_12m                    inq_fi                         0.563011
acc_open_past_24mths            open_acc_6m                    0.553181
                                open_il_24m                    0.570853
                                open_rv_12m                    0.657606
                                open_rv_24m                    0.848964
avg_cur_bal                     tot_cur_bal                    0.828457
bc_open_to_buy                  total_rev_hi_lim               0.626380
bc_util                         all_util                       0.569469
mo_sin_rcnt_tl                  mo_sin_rcnt_rev_tl_op          0.606065
mort_acc                        tot_cur_bal                    0.551198
mths_since_recent_bc            mo_sin_rcnt_rev_tl_op          0.614262
mths_since_recent_bc_dlq        mths_since_last_delinq         0.751613
                                mths_since_last_major_derog    0.553022
mths_since_recent_revol_delinq  mths_since_last_delinq         0.853573
                                                                 ...
num_sats                        total_acc                      0.720022
                                num_actv_bc_tl                 0.552957
                                num_actv_rev_tl                0.665429
                                num_bc_sats                    0.630778
                                num_op_rev_tl                  0.826946
                                num_rev_accts                  0.663595
                                num_rev_tl_bal_gt_0            0.668573
num_tl_30dpd                    acc_now_delinq                 0.801444
num_tl_90g_dpd_24m              delinq_2yrs                    0.669267
num_tl_op_past_12m              open_acc_6m                    0.722131
                                open_il_12m                    0.557902
                                open_rv_12m                    0.844841
                                open_rv_24m                    0.660265
                                acc_open_past_24mths           0.774867
pct_tl_nvr_dlq                  num_accts_ever_120_pd         -0.592502
percent_bc_gt_75                bc_util                        0.844108
pub_rec_bankruptcies            pub_rec                        0.580798
tax_liens                       pub_rec                        0.752084
tot_hi_cred_lim                 tot_cur_bal                    0.982693
                                avg_cur_bal                    0.795652
                                mort_acc                       0.560840
total_bal_ex_mort               total_bal_il                   0.902486
total_bc_limit                  max_bal_bc                     0.581536
                                total_rev_hi_lim               0.775151
                                bc_open_to_buy                 0.834159
                                num_bc_sats                    0.633461
total_il_high_credit_limit      open_il_6m                     0.552023
                                total_bal_il                   0.960349
                                num_il_tl                      0.583329
                                total_bal_ex_mort              0.889238
Length: 93, dtype: float64

In [48]:
df.ix[:5,8:150]

d:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,Not Verified,1.0,n,23.78,1.0,0.0,7.0,NaN,22.0,0.0,...,0.0,5.0,100.0,33.3,0.0,0.0,147587.0,140492.0,30200.0,108587.0
1,Source Verified,1.0,n,6.73,0.0,0.0,NaN,NaN,14.0,0.0,...,0.0,0.0,100.0,0.0,0.0,0.0,73227.0,19497.0,50200.0,20527.0
2,Not Verified,1.0,n,11.71,0.0,1.0,NaN,87.0,17.0,1.0,...,0.0,2.0,100.0,40.0,1.0,0.0,199969.0,24934.0,13900.0,15886.0
3,Not Verified,1.0,n,26.21,0.0,2.0,NaN,NaN,15.0,0.0,...,0.0,6.0,100.0,66.7,0.0,0.0,68831.0,38085.0,13500.0,36431.0
4,Not Verified,1.0,n,19.05,0.0,0.0,NaN,NaN,3.0,0.0,...,0.0,1.0,100.0,100.0,0.0,0.0,17500.0,15393.0,4800.0,12700.0
5,Source Verified,1.0,n,16.24,0.0,0.0,NaN,NaN,17.0,0.0,...,0.0,2.0,100.0,33.3,0.0,0.0,166422.0,46662.0,22300.0,41751.0

In [49]:
#df.drop(['funded_amnt','funded_amnt_inv', 'installment'], axis=1, inplace=True)
df.drop(['installment'], axis=0, inplace=True)

KeyError: "['installment'] not found in axis"

## 2. Our Model

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import ensemble
from sklearn.preprocessing import OneHotEncoder #https://ljalphabeta.gitbooks.io/python-/content/categorical_data.html

In [51]:
Y = df.loan_status
X = df.drop('loan_status',1,inplace=False)

In [52]:
print(Y.shape)
print(sum(Y))

(95210,)
92511.0

In [53]:
X = pd.get_dummies(X)

In [54]:
print(X.columns)
print(X.head(1).values)
X.info()

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'emp_length', 'annual_inc', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'total_acc',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'pymnt_plan_n', 'pymnt_plan_y', 'initial_list_status_f',
       'initial_list_status_w', 'application_type_DIRECT_PAY',
       'application_type_INDIVIDUAL', 'application_type_JOINT'],
      dtype='object')
[[1.50000e+04 1.50000e+04 1.50000e+04 1.39900e+01 5.12600e+02 2.00000e+00
  5.50000e+04 2.37800e+01 1.00000e+00 0.00000e+00 7.00000e+00         nan
  2.20000e+01 0.00000e+00 2.13450e+04 4.30000e+01 0.00000e+00         nan
  0.00000e+00 0.00000e+00 1.40492e+05 3.00000e+00 1.00000e+01 2.00000e+00
  3.00000e+00 1.10000e+01 1.19147e+05 1.01000e+02 3.00000e+00 4.00000e+00
  1.46120e+04 8.30000e+01 3.90000e+04 1.00000e+00 6.00000e+00 0.00000e+00
  7.00000e+00 6.38600e+03 9.64500e+03 7.31000e+01 0.00000e+00 0.00000e+00
  1.57000e+02 2.48000e+02 4.00000e+00 4.00000e+00 0.00000e+00 4.00000e+00
  7.00000e+00 2.20000e+01 7.00000e+00 0.00000e+00 5.00000e+00 9.00000e+00
  6.00000e+00 7.00000e+00 2.50000e+01 1.10000e+01 1.80000e+01 9.00000e+00
  2.20000e+01 0.00000e+00 0.00000e+00 0.00000e+00 5.00000e+00 1.00000e+02
  3.33000e+01 0.00000e+00 0.00000e+00 1.47587e+05 1.40492e+05 3.02000e+04
  1.08587e+05 0.00000e+00 0.00000e+00 0.00000e+00 1.00000e+00 1.00000e+00
  0.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00 1.00000e+00 0.00000e+00
  0.00000e+00 1.00000e+00 0.00000e+00]]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 95210 entries, 0 to 99119
Data columns (total 87 columns):
loan_amnt                              95210 non-null float64
funded_amnt                            95210 non-null float64
funded_amnt_inv                        95210 non-null float64
int_rate                               95210 non-null float64
installment                            95210 non-null float64
emp_length                             95210 non-null int32
annual_inc                             95210 non-null float64
dti                                    95210 non-null float64
delinq_2yrs                            95210 non-null float64
inq_last_6mths                         95210 non-null float64
mths_since_last_delinq                 51229 non-null float64
mths_since_last_record                 18903 non-null float64
open_acc                               95210 non-null float64
pub_rec                                95210 non-null float64
revol_bal                              95210 non-null float64
total_acc                              95210 non-null float64
collections_12_mths_ex_med             95210 non-null float64
mths_since_last_major_derog            28125 non-null float64
acc_now_delinq                         95210 non-null float64
tot_coll_amt                           95210 non-null float64
tot_cur_bal                            95210 non-null float64
open_acc_6m                            95210 non-null float64
open_il_6m                             95210 non-null float64
open_il_12m                            95210 non-null float64
open_il_24m                            95210 non-null float64
mths_since_rcnt_il                     92660 non-null float64
total_bal_il                           95210 non-null float64
il_util                                82017 non-null float64
open_rv_12m                            95210 non-null float64
open_rv_24m                            95210 non-null float64
max_bal_bc                             95210 non-null float64
all_util                               95204 non-null float64
total_rev_hi_lim                       95210 non-null float64
inq_fi                                 95210 non-null float64
total_cu_tl                            95210 non-null float64
inq_last_12m                           95210 non-null float64
acc_open_past_24mths                   95210 non-null float64
avg_cur_bal                            95210 non-null float64
bc_open_to_buy                         94160 non-null float64
bc_util                                94126 non-null float64
chargeoff_within_12_mths               95210 non-null float64
delinq_amnt                            95210 non-null float64
mo_sin_old_il_acct                     92660 non-null float64
mo_sin_old_rev_tl_op                   95210 non-null float64
mo_sin_rcnt_rev_tl_op                  95210 non-null float64
mo_sin_rcnt_tl                         95210 non-null float64
mort_acc                               95210 non-null float64
mths_since_recent_bc                   94212 non-null float64
mths_since_recent_bc_dlq               24968 non-null float64
mths_since_recent_inq                  85581 non-null float64
mths_since_recent_revol_delinq         35158 non-null float64
num_accts_ever_120_pd                  95210 non-null float64
num_actv_bc_tl                         95210 non-null float64
num_actv_rev_tl                        95210 non-null float64
num_bc_sats                            95210 non-null float64
num_bc_tl                              95210 non-null float64
num_il_tl                              95210 non-null float64
num_op_rev_tl                          95210 non-null float64
num_rev_accts                          95210 non-null float64
num_rev_tl_bal_gt_0                    95210 non-null float64
num_sats                               95210 non-null float64
num_tl_120dpd_2m                       91951 non-null float64
num_tl_30dpd                           95210 non-null float64
num_tl_90g_dpd_24m                     95210 non-null float64
num_tl_op_past_12m                     95210 non-null float64
pct_tl_nvr_dlq                         95210 non-null float64
percent_bc_gt_75                       94156 non-null float64
pub_rec_bankruptcies                   95210 non-null float64
tax_liens                              95210 non-null float64
tot_hi_cred_lim                        95210 non-null float64
total_bal_ex_mort                      95210 non-null float64
total_bc_limit                         95210 non-null float64
total_il_high_credit_limit             95210 non-null float64
home_ownership_ANY                     95210 non-null uint8
home_ownership_MORTGAGE                95210 non-null uint8
home_ownership_OWN                     95210 non-null uint8
home_ownership_RENT                    95210 non-null uint8
verification_status_Not Verified       95210 non-null uint8
verification_status_Source Verified    95210 non-null uint8
verification_status_Verified           95210 non-null uint8
pymnt_plan_n                           95210 non-null uint8
pymnt_plan_y                           95210 non-null uint8
initial_list_status_f                  95210 non-null uint8
initial_list_status_w                  95210 non-null uint8
application_type_DIRECT_PAY            95210 non-null uint8
application_type_INDIVIDUAL            95210 non-null uint8
application_type_JOINT                 95210 non-null uint8
dtypes: float64(72), int32(1), uint8(14)
memory usage: 57.2 MB

In [55]:
X.fillna(0.0,inplace=True)
X.fillna(0,inplace=True)

### Train Data & Test Data

In [56]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=.3, random_state=123)

In [57]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(66647, 87)
(66647,)
(28563, 87)
(28563,)

In [58]:
print(y_train.value_counts())
print(y_test.value_counts())

1.0    64712
0.0     1935
Name: loan_status, dtype: int64
1.0    27799
0.0      764
Name: loan_status, dtype: int64

### Gradient Boosting Regression Tree

In [59]:
# param_grid = {'learning_rate': [0.1, 0.05, 0.02, 0.01],
#               'max_depth': [1,2,3,4],
#               'min_samples_split': [50,100,200,400],
#               'n_estimators': [100,200,400,800]
#               }

param_grid = {'learning_rate': [0.1],
              'max_depth': [2],
              'min_samples_split': [50,100],
              'n_estimators': [100,200]
              }
# param_grid = {'learning_rate': [0.1],
#               'max_depth': [4],
#               'min_samples_leaf': [3],
#               'max_features': [1.0],
#               }

est = GridSearchCV(ensemble.GradientBoostingRegressor(),
                   param_grid, n_jobs=4, refit=True)

est.fit(x_train, y_train)

best_params = est.best_params_
print(best_params)

d:\python\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

{'learning_rate': 0.1, 'max_depth': 2, 'min_samples_split': 50, 'n_estimators': 100}

In [ ]:
print(best_params)

In [ ]:
%%time
est = ensemble.GradientBoostingRegressor(min_samples_split=50,n_estimators=300,
                                         learning_rate=0.1,max_depth=1, random_state=0,loss='ls').\
fit(x_train, y_train)

In [ ]:
est.score(x_test,y_test)

In [ ]:
%%time
est = ensemble.GradientBoostingRegressor(min_samples_split=50,n_estimators=100,
                                         learning_rate=0.1,max_depth=2, random_state=0,loss='ls').\
fit(x_train, y_train)

In [ ]:
est.score(x_test,y_test)

In [ ]:
def compute_ks(data):

    sorted_list = data.sort_values(['predict'], ascending=[True])

    total_bad = sorted_list['label'].sum(axis=None, skipna=None, level=None, numeric_only=None) / 3
    total_good = sorted_list.shape[0] - total_bad

    # print "total_bad = ", total_bad
    # print "total_good = ", total_good

    max_ks = 0.0
    good_count = 0.0
    bad_count = 0.0
    for index, row in sorted_list.iterrows():
        if row['label'] == 3:
            bad_count += 1.0
        else:
            good_count += 1.0

        val = bad_count/total_bad - good_count/total_good
        max_ks = max(max_ks, val)

    return max_ks

In [ ]:
test_pd = pd.DataFrame()
test_pd['predict'] = est.predict(x_test)
test_pd['label'] = y_test
# df['predict'] = est.predict(x_test)
print(compute_ks(test_pd[['label','predict']]))

In [ ]:
# Top Ten
feature_importance = est.feature_importances_
feature_importance = 100.0 * (feature_importance / feature_importance.max())

indices = np.argsort(feature_importance)[-10:]
plt.barh(np.arange(10), feature_importance[indices],color='dodgerblue',alpha=.4)
plt.yticks(np.arange(10 + 0.25), np.array(X.columns)[indices])
_ = plt.xlabel('Relative importance'), plt.title('Top Ten Important Variables')

### Other Model

In [ ]:
import xgboost as xgb
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor

In [ ]:
# XGBoost
clf2 = xgb.XGBClassifier(n_estimators=50, max_depth=1, 
                            learning_rate=0.01, subsample=0.8, colsample_bytree=0.3,scale_pos_weight=3.0, 
                             silent=True, nthread=-1, seed=0, missing=None,objective='binary:logistic', 
                             reg_alpha=1, reg_lambda=1, 
                             gamma=0, min_child_weight=1, 
                             max_delta_step=0,base_score=0.5)

clf2.fit(x_train, y_train)
print(clf2.score(x_test, y_test))
test_pd2 = pd.DataFrame()
test_pd2['predict'] = clf2.predict(x_test)
test_pd2['label'] = y_test
print(compute_ks(test_pd[['label','predict']]))
print(clf2.feature_importances_)
# Top Ten
feature_importance = clf2.feature_importances_
feature_importance = 100.0 * (feature_importance / feature_importance.max())

indices = np.argsort(feature_importance)[-10:]
plt.barh(np.arange(10), feature_importance[indices],color='dodgerblue',alpha=.4)
plt.yticks(np.arange(10 + 0.25), np.array(X.columns)[indices])
_ = plt.xlabel('Relative importance'), plt.title('Top Ten Important Variables')

In [ ]:
# RFR
clf3 = RandomForestRegressor(n_jobs=-1, max_depth=10,random_state=0)
clf3.fit(x_train, y_train)
print(clf3.score(x_test, y_test))
test_pd3 = pd.DataFrame()
test_pd3['predict'] = clf3.predict(x_test)
test_pd3['label'] = y_test
print(compute_ks(test_pd[['label','predict']]))
print(clf3.feature_importances_)
# Top Ten
feature_importance = clf3.feature_importances_
feature_importance = 100.0 * (feature_importance / feature_importance.max())

indices = np.argsort(feature_importance)[-10:]
plt.barh(np.arange(10), feature_importance[indices],color='dodgerblue',alpha=.4)
plt.yticks(np.arange(10 + 0.25), np.array(X.columns)[indices])
_ = plt.xlabel('Relative importance'), plt.title('Top Ten Important Variables')

In [ ]:
# XTR
clf4 = ExtraTreesRegressor(n_jobs=-1, max_depth=10,random_state=0)
clf4.fit(x_train, y_train)
print(clf4.score(x_test, y_test))
test_pd4 = pd.DataFrame()
test_pd4['predict'] = clf4.predict(x_test)
test_pd4['label'] = y_test
print(compute_ks(test_pd[['label','predict']]))
print(clf4.feature_importances_)
# Top Ten
feature_importance = clf4.feature_importances_
feature_importance = 100.0 * (feature_importance / feature_importance.max())

indices = np.argsort(feature_importance)[-10:]
plt.barh(np.arange(10), feature_importance[indices],color='dodgerblue',alpha=.4)
plt.yticks(np.arange(10 + 0.25), np.array(X.columns)[indices])
_ = plt.xlabel('Relative importance'), plt.title('Top Ten Important Variables')

## 作业：stacking